ppt-play/nodered_script.json
[{"id":"640cc54d.7914dc","type":"ibmiot out","z":"3684e0d2.27cf5","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"mymac","deviceType":"notebook","eventCommandType":"nextpage","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":798.8333492279053,"y":1011.3333921432495,"wires":[]},{"id":"bf1aab42.232358","type":"http in","z":"3684e0d2.27cf5","name":"","url":"/ppt","method":"get","swaggerDoc":"","x":138.83336067199707,"y":964.0000972747803,"wires":[["229bea70.0b7476"]]},{"id":"229bea70.0b7476","type":"function","z":"3684e0d2.27cf5","name":"","func":"\nvar cmd = msg.req.query.cmd;\n\nmsg.payload = {\"cmd\":cmd};\n\nreturn msg;","outputs":1,"noerr":0,"x":416.83335876464844,"y":964.0000991821289,"wires":[["640cc54d.7914dc","49661702.b8c268"]]},{"id":"49661702.b8c268","type":"http response","z":"3684e0d2.27cf5","name":"","x":779.8333835601807,"y":927.333384513855,"wires":[]},{"id":"7c3a99d8.52fc68","type":"http in","z":"3684e0d2.27cf5","name":"","url":"/play","method":"get","swaggerDoc":"","x":141.50005340576172,"y":840.0000495910645,"wires":[["a0b0c25f.00fe2"]]},{"id":"a0b0c25f.00fe2","type":"function","z":"3684e0d2.27cf5","name":"","func":"\nmsg.payload = '<br><br>'+\n    '<table align=\"center\" style=\"font-size:56px\">'+\n     ' <tr>'+\n      '  <td>'+\n      '    <a href=\"/ppt?cmd=play\" target=\"__iftest\">开始</a><br><br>'+\n      '    <a href=\"/ppt?cmd=next\"  target=\"__iftest\">下一页</a><br><br>'+\n      '    <a href=\"/ppt?cmd=prev\"  target=\"__iftest\">上一页</a><br><br>'+\n      '    <a href=\"/ppt?cmd=end\"  target=\"__iftest\">结束</a><br><br>'+\n      '</td>'+\n      '</tr>'+\n      '</table>'+\n      '<iframe id=\"__iftest\" name=\"__iftest\" style=\"display:none\"></iframe>';\n\nreturn msg;","outputs":1,"noerr":0,"x":402.5001029968262,"y":843.333381652832,"wires":[["d6247487.f49fb8"]]},{"id":"d6247487.f49fb8","type":"http response","z":"3684e0d2.27cf5","name":"","x":635.5001549720764,"y":837.3333835601807,"wires":[]}]
